// =============== PRICE ============== //
.price {
  @include display-flexbox;
  @include flex-wrap(wrap);
  margin-top: 0;
  margin-bottom: 0;

  @include media-query($small) {
    font-size: em($font-size-base - 1);
  }

  dl {
    margin-top: 0;
  }
  dd {
    margin: 0 0.5em 0 0;
  }
}

.price--unavailable {
  visibility: hidden;
}

.price__regular {
  color: $color-body-text;
}

.price__sale {
  color: $color-sale-text;
  display: none;

  .price--on-sale & {
    display: block;
  }
}

.price__vendor {
  color: $color-body-text;
  font-size: 0.9em;
  font-weight: $font-weight-body;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px 0 10px;
  width: 100%;
  @include flex-basis(100%);
}

.price-item {
  font-weight: $font-weight-header;
}

.price-item--regular {
  .price--on-sale & {
    text-decoration: line-through;
  }
}

.price-item__label {
  display: inline-block;
  white-space: nowrap;
  font-weight: $font-weight-header;
}